Makefile
config.log
config.status
contrib/Makefile
contrib/fbmerge/.deps/
contrib/fbmerge/Makefile
examples/.deps/
examples/Makefile
java/.deps/
java/Makefile
libtool
src/.deps/
src/.libs/
src/Makefile
src/fastbit-config.h
src/stamp-h1
tests/.deps/
tests/Makefile
tests/scripts/fastbit-config
*.o
*.lo
*.la
examples/.libs/
examples/ardea
examples/ibis
examples/rara
examples/tcapi
examples/thula
